:root {
	/* general colors */
	--White: #fff;
	--Platinum: #e8ebe4;
	--Gray: #bec1bb;
	--BlueBell: #a491d2;
	--PaleLavender: #d4dcff;
	--DarkJungle: #1b1f21;
	--OuterSpace: #444749;
	--OldSilver: #828485;
	/* colors buttons */
	--PrimaryButtons: #a491d2;
	--HoverButtons: #cdc3e6;
	--FocusState: #bec1bb;
	/* Fonts */
	--RobotoBold: "Roboto", sans-serif;
	--OpenSanRegular: "Open Sans", sans-serif;
}
html {
	box-sizing: border-box;
	font-size: 62.5%;
}

*,
*::after,
*::before {
	box-sizing: inherit;
	margin: 0;
}

body {
	font-size: 1.6rem;
}
img {
	max-width: 100%;
	display: block;
}

h1,
h2,
h3 {
	font-family: var(--RobotoBold);
	font-weight: 500;
	color: var(--OuterSpace);
	/* font-size:larger; */
}

p {
	font-family: var(--OpenSanRegular);
}

/* reusables */
.text-center {
	text-align: center;
}
.img-user {
	border: solid 0.2rem var(--Platinum);
	border-radius: 3rem;
	width: 4.5rem;
	height: 4.5rem;
}
.img-contacts {
	border: solid 0.2rem var(--Platinum);
	border-radius: 5rem;
	width: 6rem;
	height: 6rem;
}

a {
	text-decoration: none;
	color: #1b1f21;
}

.flex-container-main {
	display: flex;
	min-height: 100vh;
	margin: 0 auto;
	flex-wrap: wrap;
}

.container-user-chats {
	box-shadow: 0.5rem 0.5rem 0.5rem var(--FocusState);
	z-index: 1;
    flex:0 1 38rem;
}

/* NAV */
.flex-container-user {
	display: flex;
	border: solid 0.1rem var(--Platinum);
	justify-content: space-around;
	align-items: center;
	padding: 1.5rem;
	gap: 7rem;
}

.flex-user {
	display: flex;
	gap: 1rem;
	align-items: center;
	flex-wrap: wrap;
}

.flex-user p {
	color: var(--Gray);
	font-size: small;
}

.icons-nav {
	display: flex;
	gap: 2rem;
}

.icons-nav i {
	font-size: 2rem;
	color: var(--OldSilver);
}

.btn-new-chat {
	display: flex;
	justify-content: center;
	align-items: center;
	border: solid 0.1rem var(--Platinum);
	height: 15rem;
}

.btn-new-chat a {
	background-color: var(--BlueBell);
	color: var(--White);
	width: 20rem;
	height: 5.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: var(--RobotoBold);
	font-weight: 500;
}

.btn-new-chat a:hover {
	background-color: var(--HoverButtons);
}

.btn-new-chat a:focus {
	background-color: var(--Gray);
}

/* CHATS  */
.flex-chats {
	display: flex;
	border: solid 0.1rem var(--Platinum);
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 2rem;
	padding: 1.5rem 2rem;
}

.flex-chats div {
	flex: 0.9;
}

.start-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--Platinum);
    flex:1;
}

.start-container .img-start {
	width: 30rem;
}

.start-container h1 {
	font-family: var(--RobotoBold);
	margin-bottom: 1rem;
	font-weight: 500;

}
@media (min-width: 768px) {
    .start-container h1  {
        font-size: 6rem;
    }
}

.start-container p {
	font-family: var(--OpenSanRegular);
	font-size: 1.6rem;
	max-width: 50rem;
	line-height: 1.6;
}

.start-container span {
	font-family: var(--RobotoBold);
	font-weight: 700;
}